@page "/acerca-de"

<PageTitle>Acerca De</PageTitle>

<div class="acerca-de">
    <h1>Acerca de</h1>

    <div class="profile">
        <img src="images/Joel De Jesús Oseliz Reynoso.jpg" alt="Foto 2x2" />

        <h3>Nombre: Joel De Jesús Oseliz Reynoso </h3>
        <p>Matrícula: 2023-1132</p>
                
        <div class="contact-links">
            <p>Institución: <a href="https://itla.edu.do/" target="_blank">ITLA (Instituto Tecnológico De Las Américas</a> </p>
            <p> Contactar por: <a href="mailto:joeldejesusocelizreynoso@gmail.com" target="_blank">Email</a></p>
            <p>Chatear por: <a href="https://wa.me/+18099906126" target="_blank">WhatsApp</a></p>
            <p>Chatear por: <a href="https://t.me/joeldejesusoselizreynoso" target="_blank"> Telegram</a></p>
        </div>

        <p>Al terminar el ITLA me encantaría ser un full stack developer en diversos lenguajes de programación, trabajando para diferentes empresas con diversos cargos y al mismo tiempo impartiendo clase universitaria sobre el área de tecnología (aunque también podría ser una materia que no estuviara directamente relacionada con la tecnología).</p>
    </div>
</div>