@page "/calculadora"
@rendermode InteractiveServer

<PageTitle>Aprende Más</PageTitle>

<h3>Calculadora</h3>

<p>En esta sección tenemos una calculadora con la cual podemos hacer las 4 operaciones básicas, es decir; Sumar, Restar, Multiplicar y Dividir.</p>

<div>
    <label>Numero 1:</label>
    <input type="number" @bind="numero1" class="form-control"/>
</div>

<div>
    <label>Numero 2:</label>
    <input type="number" @bind="numero2" class="form-control"/>
</div>

<div class="mt-3">
    <button class="btn btn-primary" @onclick="Sumar">Sumar</button>
    <button class="btn btn-primary" @onclick="Restar">Restar</button>
    <button class="btn btn-primary" @onclick="Multiplicar">Multiplicar</button>
    <button class="btn btn-primary" @onclick="Dividir">Dividir</button>
    <button class="btn btn-danger" @onclick="Limpiar">Limpiar</button>
</div>

<div class="mt-3">
    <label>Resultado:</label>
    <div class="form-control">
        @resultado
    </div>
</div>

@code {
    double numero1 = 0;
    double numero2 = 0;
    double resultado = 0;

    void Sumar()
    {
        resultado = numero1 + numero2;
    }
    void Restar()
    {
        resultado = numero1 - numero2;
    }
    void Multiplicar()
    {
        resultado = numero1 * numero2;
    }
    void Dividir()
    {
        resultado = numero1 / numero2;
    }
    void Limpiar()
    {
        numero1 = 0;
        numero2 = 0;
        resultado = 0;
    }
}
