@page "/"

<PageTitle>Inicio</PageTitle>

<div class="inicio-container">
    <h1>Bienvenido a mi tarea de Blazor WebAssembly</h1>
    <p>Muchas gracias por visitar mi proyecto. Honestamente espero que disfrutes explorándolo.</p>
    <blockquote>La Programación no es sólo una habilidad, es una forma de pensar.</blockquote>

    <img class="img-fluid" src="https://preview.redd.it/6mifde9x9ii91.jpg?width=640&crop=smart&auto=webp&s=2e659dee43ec8c16677ecd12b08649220df4ec4d" alt="Alternate Text" />

</div>