<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tarea 1 Programacio Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aprender-mas">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Aprende Más
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculadora">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calculadora
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabla-de-multiplicar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tabla de Multiplicar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acerca-de">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Acerca De
            </NavLink>
        </div>

    </nav>
</div>

